/* custom properties */
:root {
  /* primary color */
  --soft-red: hsl(10, 79%, 65%);
  --cyan: hsl(186, 34%, 60%);
  /* neutral color */
  --dark-brown: hsl(25, 47%, 15%);
  --medium-brown: hsl(28, 10%, 53%);
  --cream: hsl(27, 66%, 92%);
  --very-pale-orange: hsl(33, 100%, 98%);
  --font: "DM Sans", sans-serif;
  --font-size: 1.8rem;
  --border-radius: clamp(1rem, 0.8239rem + 0.4695vw, 1.5rem);
}

/* CSS RESETS */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
  font-size: 62.5%; /* 10px/16px *100%s= 62.5% -> 1rem = 10px */
}

body {
  font-family: var(--font);
  background-color: var(--cream);
}

/* COMPONENT STYLES */

/* CONTAINER  */
.container {
  font-size: var(--font-size);
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  width: 90%;
  max-width: 54rem;
  margin: 0 auto;
  margin-top: clamp(6.6rem, 2.4803rem + 10.9859vw, 18.3rem);
}
/* HEADER-CONTAINER  */
.header {
  display: flex;
  justify-content: space-between;
  color: var(--very-pale-orange);
  background-color: var(--soft-red);
  height: clamp(0.8rem, 9.1549rem + 2.2535vw, 10rem);
  padding: 2rem;
  border-radius: var(--border-radius);
}
.header__title {
  font-size: 1.4rem;
  margin-bottom: 1rem;
}
.header__balance {
  font-size: 2rem;
  font-weight: 700;
}
.logo {
  max-inline-size: 8rem;
}
/* BAR CHART*/
.chart__container {
  background-color: var(--very-pale-orange);
  padding: clamp(2.4rem, 1.35rem + 2.9167vw, 3.8rem);
  border-radius: var(--border-radius);
}

.chart__title {
  color: var(--dark-brown);
  font-weight: 700;
  font-size: clamp(2.2rem, 1.6rem + 1.6667vw, 3rem);
  padding-bottom: 4rem;
}

.bars__container {
  display: grid;
  grid-template-columns: repeat(7, minmax(3rem, 5rem));
  justify-content: space-between;
  align-items: end;
  justify-items: center;
  column-gap: 1.1rem;
  padding-bottom: 3rem;
  border-bottom: 1px solid var(--cream);
}
.bar {
  justify-self: stretch;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.bar__component {
  background-color: var(--soft-red);
  height: 5rem;
  border-radius: 0.5rem;
  cursor: pointer;
}
.bar__component:hover {
  background-color: #ff9b87;
}
.active-bar {
  background-color: var(--cyan);
  height: 10rem;
}
.active-bar:hover {
  background-color: #b4dfe5;
}
.current__amount {
  text-align: center;
  font-size: clamp(1rem, 0.7333rem + 0.7407vw, 1.8rem);
  color: var(--very-pale-orange);
  border-radius: 0.2rem;
  padding: 0.4rem 0;
  background-color: var(--dark-brown);
  opacity: 0;
  transition: all 0.2s ease-in-out;
}
.bar:hover .current__amount,
.bar:active .current__amount {
  opacity: 1;
}
.week-day {
  font-size: 1.4rem;
  text-align: center;
  color: var(--medium-brown);
}

.summary {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 2rem;
  margin-bottom: 1rem;
}
.summary__text {
  color: var(--medium-brown);
}
.summary__text--right {
  text-align: right;
}
.summary__amount {
  font-size: 3rem;
}
.summary__figure {
  color: var(--dark-brown);
  font-weight: 700;
  display: block;
}

/* footer styles */
.attribution {
  padding: 1rem;
  margin: 2rem 0 2rem;
  font-size: 1.5rem;
  text-align: center;
  color: var(--medium-brown);
  line-height: 1.3;
}

a:link,
a:visited {
  text-decoration: none;
  color: inherit;
  border-bottom: 1.4px solid var(--soft-red);
}
a:hover {
  color: var(--soft-red);
}
a:active {
  color: var(--soft-red);
}
